$white: #ffffff;
$black: #000000;

$default-brown: #A22551;

// $max-width-mobile: 743px;

// $min-width-mobile-wide: 744px;
// $max-width-mobile-wide: 767px;

$min-width-tablet: 768px;
// $max-width-tablet: 1023px;

// $min-width-desktop: 1024px;
// $max-width-desktop: 1079px;

// $min-width-desktop-wide: 1080px;
// $max-width-desktop-wide: 1439px;

// $min-width-desktop-extra-wide: 1440px;
