@import "src/styles/_variables";

.kapcsolataink {
  p.cim {
    margin: 0px;
    margin-top: 7px;
  }

  p.noMargin {
    margin: 0;
  }

  ul.noMargin {
    margin: 0;
  }

  h3.sectionTitle {
    margin-top:8px;
    margin-bottom:0px;
  }
}
