@import "src/styles/_variables";

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;

  .header {
    display: flex;
    align-items: center;
    column-gap: 30px;

    .headerLogo img {
      width: 125px;
    }

    h2 {
      font-weight: normal;
    }
  }

  .content {
    line-height: 2;

    .intro {
      text-align: justify;
    }

    .title {
      font-weight: bold;
      text-decoration: underline;
    }

    .priceTable {
      width: 100%;
    }

    .signature {
      padding-left: 40px;
      text-indent: -40px;
    }
  }
}

// Media query for desktop
@media (min-width: $min-width-tablet) {
}
