@import "src/styles/_variables";

.container {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 16px 40px 10px rgba(122, 118, 118, 0.08);
  z-index: 1;
}

.navigation {
  height: 100%;
  padding: 10px 20px;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 40px;

  .navigationLogoContainer {
    margin-right: 30px;
    margin-left: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
  }

  .desktopNavigation {
    display: none;
    width: calc(100% - 160px);
    margin: 0;
    margin-top: 3px;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    column-gap: 20px;
    flex-wrap: nowrap;
    overflow: visible;

    .desktopNavLink {
      color: $black;
      text-decoration: none;
      padding: 0 15px;
      white-space: nowrap;
      border-bottom: 4px solid transparent;

      &.activeDesktopNavLink,
      &:hover {
        font-weight: 600;
        border-bottom: 4px solid $default-brown;
      }
    }

    .navDropdown {
      position: relative;

      &:hover .navDropdownContent,
      .navDropdownContent:hover {
        display: flex;
      }

      .desktopNavLink {
        display: block;
        line-height: 40px;
      }

      .navDropdownContent {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        left: -20px;
        padding: 10px 20px;
        position: absolute;
        top: 100%;
        background-color: $white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 10;

        .desktopNavSubLink {
          font-size: 16px;
          color: $black;
          text-decoration: none;
          padding: 0;
          white-space: nowrap;
          border-bottom: 3px solid transparent;
          line-height: 35px;

          &.activeDesktopNavLink,
          &:hover {
            font-weight: 600;
            border-bottom: 3px solid $default-brown;
          }
        }
      }
    }
  }

  .mobileNavigation {
    margin-top: 0;
    list-style: none;
    display: block;
  }
}

// desktop
@media (min-width: $min-width-tablet) {
  .navigation .desktopNavigation {
    display: flex;
  }

  .navigation .mobileNavigation {
    display: none;
  }
}
