@import "src/styles/_variables";

.container {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 16px 40px 10px rgba(122, 118, 118, 0.08);
  z-index: 20;
}

.navigation {
  padding: 4px 8px;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 40px;

  .navigationLogoContainer {
    margin-right: 30px;
    margin-left: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

    img {
      width: 32px;
    }
  }

  .desktopNavigation {
    display: none;
    width: calc(100% - 160px);
    margin: 0;
    margin-top: 3px;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    column-gap: 20px;
    flex-wrap: nowrap;
    overflow: visible;

    .desktopNavLink {
      color: $black;
      text-decoration: none;
      padding: 0 15px;
      white-space: nowrap;
      border-bottom: 4px solid transparent;

      &.activeDesktopNavLink,
      &:hover {
        font-weight: 600;
        border-bottom: 4px solid $default-brown;
      }
    }

    .navDropdown {
      position: relative;

      &:hover .navDropdownContent,
      .navDropdownContent:hover {
        display: flex;
      }

      .desktopNavLink {
        display: block;
        line-height: 40px;
      }

      .navDropdownContent {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        left: -20px;
        padding: 10px 20px;
        position: absolute;
        top: 100%;
        background-color: $white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        .desktopNavSubLink {
          font-size: 16px;
          color: $black;
          text-decoration: none;
          padding: 0;
          white-space: nowrap;
          border-bottom: 3px solid transparent;
          line-height: 35px;

          &.activeDesktopNavLink,
          &:hover {
            font-weight: 600;
            border-bottom: 3px solid $default-brown;
          }
        }
      }
    }
  }

  .mobileNavigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 18px;

    .burgerIcon {
      cursor: pointer;
      width: 35px;
      height: 35px;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        width: 100%;
        height: 3px;
        transition: 0.3s ease-in-out;
      }

      &.open span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }

      &.open span:nth-child(2) {
        opacity: 0;
      }

      &.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }

    .mobileMenu {
      padding: 20px 90px 20px 30px;
      margin: 0;
      position: fixed;
      top: 48px;
      right: 10px;
      bottom: 10px;
      background-color: $white;
      box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.2);
      list-style: none;
      text-align: left;
      overflow-y: auto;

      .activeMobileLink {
        font-weight: 600;
        text-decoration: underline 4px solid $default-brown;
        text-underline-offset: 10px;
      }

      li {
        padding: 5px 0;

        a {
          text-decoration: none;
          color: $black;
          display: block;
        }

        .mobileSubMenu {
          list-style: none;
          padding-left: 30px;

          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
}

// Media query for desktop
@media (min-width: $min-width-tablet) {
  .navigation {
    padding: 10px 20px;
    font-size: 20px;

    .desktopNavigation {
      display: flex;
    }

    .mobileNavigation {
      display: none;
    }

    .navigationLogoContainer {
      img {
        width: 60px;
      }
    }
  }
}
