@import "src/styles/_variables";

.container {
  font-family: "Inter";
  width: 100%;
  background-color: $default-orange;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  font-weight: 300;
  z-index: 10;

  .contact {
    min-width: 300px;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;

    a {
      text-decoration: none;
      color: $black;
    }

    .email, .phoneNumber {
      margin: 0;
    }

    .address {
      margin: 0;
      margin-top: 20px;
    }
  }

  .supporters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    .title {
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      column-gap: 5px;
      row-gap: 5px;

      img {
        height: 45px;

        &.withBackground {
          height: 41px;
          background-color: $white;
          padding: 2px;
        }
      }
    }
  }
}
 
// Media query for desktop
@media (min-width: $min-width-tablet) {
  .container {
    align-items: center;
    flex-direction: row;

    .contact {
      padding: 10px 30px;
      padding-right: 0;
    }

    .supporters {
      padding: 10px 30px;
      padding-left: 0;
      align-items: flex-end;

      ul {
        justify-content: flex-end;

        img {
          height: 60px;
  
          &.withBackground {
            height: 56px;
          }
        }
      }
    }
  }
}
