@import "src/styles/_variables";

.container {
  margin-top: 80px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;

  .imageNewsContainer {
    max-width: 1000px;

    img {
      max-width: 100%;
      border: 4px solid $default-brown;
      padding: 3px;

      border-radius: 10px;

    }
  }
}
