@import "src/styles/_variables";

#root {
  width: 100%;
  height: 100%;
  margin: 0;

  a {
    text-decoration: none;
    color: $black;
  
    &:hover {
      color: $default-burgundy;
    }
  }

  a.button {
    font-size: 24px;
    font-weight: 700;
    background-color: $default-orange;
    color: $white;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 10px;

    &.smallButton {
      font-size: 16px;
      padding: 5px 15px;
    }

    &:hover {
      background-color: $default-burgundy;
    }
  }
}
